<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <table class="table" id="ejsprod">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Imagen</th>
            </tr>
        </thead>
        <tbody>
        <% productos.forEach(prod => { %> 
            <tr>
                <th scope="row"><%= prod.id %></th>
                <td><%= prod.title %></td>
                <td><%= prod.price %></td>
                <td><img src=<%= prod.thumbnail %>></td>
            </tr>
        <% })%>    
        </tbody>
    </table>
    <a href="/"><button>Volver a carga de productos</button></a>
    <%- include('../partials/footer.ejs')%>
</body>
</html>
